body{
    background: #234;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main{
    flex: 1 0 auto;

    .row{
        margin-bottom: 0;
    }

    .msg{
        padding: 5px 12px;
        margin: 15px 0 0 0;
        border-radius: 5px;
        position: relative;

        &.from-other{
            float: left;
            background-color: #e6ee9c;

            .username{
                color: #64b5f6;
                font-weight: bold;
            }

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 10px;
                border-top: 10px solid #e6ee9c;
                border-top-color: #e6ee9c;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }

        &.from-me{
            float: right;
            background-color: #b3e5fc;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                right: 10px;
                border-top: 10px solid #b3e5fc;
                border-top-color: #b3e5fc;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }

        .img{
            max-width: 100%;
        }
    }
}

.page-footer{
    margin-top: 20px;

    .prefix{
        margin-top: 0.5rem;

        &.active{
            color: white;
        }
    }

    .materialize-textarea{
        margin-bottom: 0;
        min-height: 1rem;
        height: 22px;
        padding: 1rem 1rem 1.3rem;
        border-bottom: solid 1px white;

        &:focus{
            background-color: white;
            color: #234;
        }
    }
}
